<button class="button btn-lg">Button</button>
<button class="button btn-lg button-primary">Button</button>
<button class="button btn-lg button-secondary">Button</button>
<button class="button btn-lg button-link">Button</button>