<button class="button btn-lg" disabled="disabled">Button</button>
<button class="button btn-lg button-primary" disabled="disabled">Button</button>
<button class="button btn-lg button-secondary" disabled="disabled">Button</button>
<button class="button btn-lg button-link" disabled="disabled">Button</button>